<!--
Citation for CS 340 Project - Group 28
Date: 11/06/2025
Adapted from and based on CS 340 - Exploration - Web Application Technology
Source URL (Web Application): https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
!-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 Group 28 - Kozy Nook’s Books Sales Management System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/books">Books</a>
        <a href="/orders">Orders</a>
        <a href="/bookorderdetails">BookOrderDetails</a>
        <a href="/genres">Genres</a>
        <a href="/coupons">Coupons</a>
        <a href="/delete-order327">Delete Order327</a>
        <a href="/reset">RESET DB</a>
    </nav>

    {{{body}}}

</body>
</html>
