<!--
Citation for CS 340 Project - Group 28
Date: 11/06/2025
Adapted from and based on CS 340 - Exploration - Web Application Technology
Source URL (Web Application): https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
!-->

<h1>Genres</h1>
<h2>View Listed Genres</h2>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Genre ID</th>
            <th>Genre</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the genreID and genre }}
        {{#each genres}}
        <tr>
            <td>{{this.genreID}}</td>
            <td>{{this.genre}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
