/* 
Citation for CS 340 Project - Group 28
Date: 11/06/2025, 12/08/2025
Adapted from and based on CS 340 - Exploration - Web Application Technology (11/06/2025) and Coolors (12/08/2025)
Copied from Google Fonts for CSS variable style (12/08/2025)
Also based on W3Schools explanation on CSS links, CSS buttons, and CSS Horizontal & Vertical Align (12/08/2025)
Source URL (Web Application): https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
Source URL (Font): https://fonts.google.com
Source URL (Coolors): https://coolors.co
Source URL (Links): https://www.w3schools.com/css/css_link.asp
Source URL (Buttons): https://www.w3schools.com/css/css3_buttons.asp
Source URL (Align): https://www.w3schools.com/css/css_align.asp
*/

html {   
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 { 
    text-align: center;
}

h2 {
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #EFF2F1;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cuForm { 
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #EFF2F1;
}

input, select { 
    margin: 5px;
}

nav {
    padding: 16px;
    text-align: center;
    background-color: #1B2432;
}

a {
    margin-left: 16px;
    text-decoration: none;
    color: #cecece;
}

.submitButton {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5%;
    color: #f9f9f9;
    background-color: #1B2432;
}

.editButton {
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    border-color: #1B2432;
    background-color: #f9f9f9;
}

.deleteButton {
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    border-color: #b71a1a;
    color: #f9f9f9;
    background-color: #b71a1a;
}

.homepageDescription {
    text-align: center;
}

.projectName {
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.businessName {
    font-family: "Playwrite NO", cursive;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #cecece;
}
